<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjob.mappers.ExamQuestionItemMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.easyjob.entity.po.ExamQuestionItem">
		<!--选项id-->
		<id column="item_id" property="itemId"  />
		<!--问题id-->
		<result column="question_id" property="questionId"  />
		<!--标题-->
		<result column="title" property="title"  />
		<!--排序-->
		<result column="sort" property="sort"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 item_id,question_id,title,sort
	</sql>

	<sql id="base_condition_filed">
			<if test="query.itemId != null">
				 and  item_id = #{query.itemId}
			</if>
			<if test="query.questionId != null">
				 and  question_id = #{query.questionId}
			</if>
			<if test="query.title != null and query.title!=''">
				 and  title = #{query.title}
			</if>
			<if test="query.sort != null">
				 and  sort = #{query.sort}
			</if>
	</sql>
	<!-- 通用条件列-->
	<sql id="base_condition">
	 <where>
		 <include refid="base_condition_filed" />
	 </where>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.titleFuzzy!= null  and query.titleFuzzy!=''">
				 and  title like concat('%', #{query.titleFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM exam_question_item <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM exam_question_item <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.easyjob.entity.po.ExamQuestionItem">
		<selectKey keyProperty="bean.itemId" resultType="Integer" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		 INSERT INTO exam_question_item
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.title != null">
				 title,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.title!=null">
				 #{bean.title},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.easyjob.entity.po.ExamQuestionItem">
		 INSERT INTO exam_question_item
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.itemId != null">
				 item_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.title != null">
				 title,
			</if>
			<if test="bean.sort != null">
				 sort,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.itemId!=null">
				 #{bean.itemId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.title!=null">
				 #{bean.title},
			</if>
			<if test="bean.sort!=null">
				 #{bean.sort},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.questionId!=null">
				 question_id = VALUES(question_id),
			</if>
			<if test="bean.title!=null">
				 title = VALUES(title),
			</if>
			<if test="bean.sort!=null">
				 sort = VALUES(sort),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.easyjob.entity.po.ExamQuestionItem" useGeneratedKeys="true" keyProperty="itemId">
		 INSERT INTO exam_question_item(
			 question_id,
			 title,
			 sort
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.questionId},
				 #{item.title},
				 #{item.sort}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.easyjob.entity.po.ExamQuestionItem">
		 INSERT INTO exam_question_item(
			 question_id,
			 title,
			 sort
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.questionId},
				 #{item.title},
				 #{item.sort}
			 )
		 </foreach>
			on DUPLICATE key update 
			question_id = VALUES(question_id),
			title = VALUES(title),
			sort = VALUES(sort)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.easyjob.entity.query.ExamQuestionItemQuery">
		 UPDATE exam_question_item
 		 <set> 
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.title != null">
				 title = #{bean.title},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete from exam_question_item
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ItemId修改-->
	<update id="updateByItemId" parameterType="com.easyjob.entity.po.ExamQuestionItem">
		 UPDATE exam_question_item
 		 <set> 
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.title != null">
				 title = #{bean.title},
			</if>
			<if test="bean.sort != null">
				 sort = #{bean.sort},
			</if>
 		 </set>
 		 where item_id=#{itemId}
	</update>

	<!-- 根据ItemId删除-->
	<delete id="deleteByItemId">
		delete from exam_question_item where item_id=#{itemId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByItemId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from exam_question_item where item_id=#{itemId}
	</select>

</mapper>