<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easyjob.mappers.SysRole2MenuMapper">

    <!--实体映射-->
    <resultMap id="base_result_map" type="com.easyjob.entity.po.SysRole2Menu">
        <!--角色id-->
        <result column="role_id" property="roleId"/>
        <!--菜单id-->
        <result column="menu_id" property="menuId"/>
        <!--0 半选 1 全选-->
        <result column="check_type" property="checkType"/>
    </resultMap>


    <!-- 通用查询结果列-->
    <sql id="base_column_list">
        role_id
        ,menu_id,check_type
    </sql>

    <sql id="base_condition_filed">
        <if test="query.roleId != null">
            and role_id = #{query.roleId}
        </if>
        <if test="query.menuId != null">
            and menu_id = #{query.menuId}
        </if>
        <if test="query.checkType != null">
            and check_type = #{query.checkType}
        </if>
    </sql>
    <!-- 通用条件列-->
    <sql id="base_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 通用查询条件列-->
    <sql id="query_condition">
        <where>
            <include refid="base_condition_filed"/>
        </where>
    </sql>

    <!-- 查询集合-->
    <select id="selectList" resultMap="base_result_map">
        SELECT
        <include refid="base_column_list"/>
        FROM sys_role_2_menu
        <include refid="query_condition"/>
        <if test="query.orderBy!=null">
            order by ${query.orderBy}
        </if>
        <if test="query.simplePage!=null">
            limit #{query.simplePage.start},#{query.simplePage.end}
        </if>
    </select>

    <!-- 查询数量-->
    <select id="selectCount" resultType="java.lang.Integer">
        SELECT count(1) FROM sys_role_2_menu
        <include refid="query_condition"/>
    </select>

    <!-- 插入 （匹配有值的字段）-->
    <insert id="insert" parameterType="com.easyjob.entity.po.SysRole2Menu">
        INSERT INTO sys_role_2_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.roleId != null">
                role_id,
            </if>
            <if test="bean.menuId != null">
                menu_id,
            </if>
            <if test="bean.checkType != null">
                check_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.roleId!=null">
                #{bean.roleId},
            </if>
            <if test="bean.menuId!=null">
                #{bean.menuId},
            </if>
            <if test="bean.checkType!=null">
                #{bean.checkType},
            </if>
        </trim>
    </insert>

    <!-- 插入或者更新 （匹配有值的字段）-->
    <insert id="insertOrUpdate" parameterType="com.easyjob.entity.po.SysRole2Menu">
        INSERT INTO sys_role_2_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bean.roleId != null">
                role_id,
            </if>
            <if test="bean.menuId != null">
                menu_id,
            </if>
            <if test="bean.checkType != null">
                check_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bean.roleId!=null">
                #{bean.roleId},
            </if>
            <if test="bean.menuId!=null">
                #{bean.menuId},
            </if>
            <if test="bean.checkType!=null">
                #{bean.checkType},
            </if>
        </trim>
        on DUPLICATE key update
        <trim prefix="" suffix="" suffixOverrides=",">
            <if test="bean.roleId!=null">
                role_id = VALUES(role_id),
            </if>
            <if test="bean.menuId!=null">
                menu_id = VALUES(menu_id),
            </if>
            <if test="bean.checkType!=null">
                check_type = VALUES(check_type),
            </if>
        </trim>
    </insert>

    <!-- 添加 （批量插入）-->
    <insert id="insertBatch" parameterType="com.easyjob.entity.po.SysRole2Menu">
        INSERT INTO sys_role_2_menu(
        role_id,
        menu_id,
        check_type
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleId},
            #{item.menuId},
            #{item.checkType}
            )
        </foreach>
    </insert>

    <!-- 批量新增修改 （批量插入）-->
    <insert id="insertOrUpdateBatch" parameterType="com.easyjob.entity.po.SysRole2Menu">
        INSERT INTO sys_role_2_menu(
        role_id,
        menu_id,
        check_type
        )values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.roleId},
            #{item.menuId},
            #{item.checkType}
            )
        </foreach>
        on DUPLICATE key update
        role_id = VALUES(role_id),
        menu_id = VALUES(menu_id),
        check_type = VALUES(check_type)
    </insert>

    <!--多条件修改-->
    <update id="updateByParam" parameterType="com.easyjob.entity.query.SysRole2MenuQuery">
        UPDATE sys_role_2_menu
        <set>
            <if test="bean.roleId != null">
                role_id = #{bean.roleId},
            </if>
            <if test="bean.menuId != null">
                menu_id = #{bean.menuId},
            </if>
            <if test="bean.checkType != null">
                check_type = #{bean.checkType},
            </if>
        </set>
        <include refid="query_condition"/>
    </update>

    <!--多条件删除-->
    <delete id="deleteByParam">
        delete from sys_role_2_menu
        <include refid="query_condition"/>
    </delete>

    <!-- 根据RoleIdAndMenuId修改-->
    <update id="updateByRoleIdAndMenuId" parameterType="com.easyjob.entity.po.SysRole2Menu">
        UPDATE sys_role_2_menu
        <set>
            <if test="bean.checkType != null">
                check_type = #{bean.checkType},
            </if>
        </set>
        where role_id=#{roleId} and menu_id=#{menuId}
    </update>

    <!-- 根据RoleIdAndMenuId删除-->
    <delete id="deleteByRoleIdAndMenuId">
        delete
        from sys_role_2_menu
        where role_id = #{roleId}
          and menu_id = #{menuId}
    </delete>

    <!-- 根据PrimaryKey获取对象-->
    <select id="selectByRoleIdAndMenuId" resultMap="base_result_map">
        select
        <include refid="base_column_list"/>
        from sys_role_2_menu where role_id=#{roleId} and menu_id=#{menuId}
    </select>

    <select id="selectMenuIdsByRoleIds" resultType="java.lang.Integer">
        select menu_id from sys_role_2_menu where role_id in{
        <foreach collection="roleIds" separator="," item="item">#{item}</foreach>
        } and check_type = 1
    </select>
</mapper>